<table>
    <tr>
        <td rowspan="3">
            {{#link-to 'cart'}}<i class="uk-icon-medium uk-icon-shopping-cart"></i>{{/link-to}}
        </td>
    </tr>
    <tr>
        <th>Count:</th>
        <td>{{totalCount}}</td>
    </tr>
    <tr>
        <th>Price:</th>
        <td>{{format-money totalPrice symbol=selectedCurrency format="%v %s"}}{{!totalPrice}}</td>
    </tr>
</table>

{{yield}}